@import "tailwindcss";

input {
  border: solid black 2px;
}

@theme {
  --shadow-artwork: 0px 0px 8px -2px rgba(0, 0, 0, 0.1),
                16px 0px 12px -4px rgba(0, 0, 0, 0.1);
}

input:focus, textarea:focus, select:focus {
  outline: 2px solid var(--foreground);
  outline-offset: 2px;
  transform: scale(1.05);
}

.button-spcl {
    border-color: #000000;
    padding: 0.6em 2.3em;
    cursor: pointer;
    font-size: 1em;
    color: #000000;
    background-image: linear-gradient(45deg, transparent 50%, #000000 50%);
    background-position: 15%;
    background-size: 400%;
    -webkit-transition: background 400ms ease-in-out, color 400ms ease-in-out, transform 300ms ease-in-out;
    transition: background 400ms ease-in-out, color 400ms ease-in-out, transform 300ms ease-in-out;
  }
  .button-spcl:hover {
    color: #FFFFFF;
    background-position: 100%;
    transform: translateY(-2px);
  }
  .button-spcl:active {
    transform: translateY(0);
  }
